modules = ["nodejs-20", "python-3.12", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Start Frontend"
author = 42208556
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Backend"
author = 42208556
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow]]
name = "Setup Django"
author = 42208556
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && pip install -r requirements.txt && python manage.py makemigrations && python manage.py migrate && python manage.py collectstatic --noinput"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 42208556
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
